@import "../styles/common";

.AppHeader {
  .AppHeader__head {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;

    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.3px;
  }
  .AppHeader__links {
    margin-bottom: 15px;
    display: inline-block;

    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 1.1px;
  }
  .AppHeader__border {
    border-top: 1px dotted $border-white;
  }
}