@import '../styles/common';

.Nav {
  margin-bottom: 30px;

  .Nav__wrapper {
    display: flex;
    //justify-content: space-between;
    padding-top: 15px;
  }
  .Nav__title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-right: 50px;
    > a {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .Nav__title--active {
    >a {
      text-decoration: underline;
    }
  }
  .Nav__subtitle {
    margin-top: 5px;
    font-size: 15px;
  }
  .Nav__subtitle--active {
    >a {
      text-decoration: underline;
    }
  }
}