@import '../styles/common';

.Post {
  border: 3px solid $border-white;
  padding: 20px 20px 20px 20px;
  @include media-breakpoint-up(md) {
    padding: 20px 40px 20px 40px;
  }
  .Post__header {
    margin-bottom: 30px;
    text-align: center;
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: 900;
    }
    span {
      padding-bottom: 15px;
      font-size: 12px;
      border-bottom: 1px dashed $border-white;
    }
  }

  .Post__body {
    > * {
      margin-bottom: 15px;
      @include media-breakpoint-up(sm) {
        margin-left: 70px;
      }
      @include media-breakpoint-up(md) {
        margin-left: 300px;
      }
    }
    h1 {
      margin-left: 0;
      margin-top: 45px;

      font-size: 24px;
      letter-spacing: 1px;
      font-weight: 900;
      font-style: italic;
    }
    h2 {
      margin-left: 0;
      margin-top: 30px;

      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 700;
      font-style: italic;
    }
    p, ul, ol {
      font-size: 15px;
      line-height: 1.8;
      letter-spacing: 1px;
      strong {
        font-weight: 800;
        font-style: italic;
      }
    }
    img {
      width: 100%;
    }
    a {
      color: #bb1;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      padding-left: 15px;
      li::before {
        content: "*";
        margin-right: 10px;
      }
    }
    ol {
      padding-left: 15px;
      li {
        counter-increment: li;
      }
      li::before {
        content: counter(li)'.';
        margin-right: 7px;
      }
    }
    pre {
      background-color: rgba(0, 0, 0, 0.3);
      padding-left: 15px;
    }
    code {
      font-family: monospace;
      line-height: 1.2;
      
    }
  }
}