@import '../styles/common';


.RecentsCard {
  .RecentsCard__box {
    display: block;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    
    border: 4px solid $border-white;
    min-height: 200px;
    @include media-breakpoint-down(lg) {
      min-height: 250px;
    }
    @include media-breakpoint-down(md) {
      min-height: 290px;
    }
    @include media-breakpoint-down(xs) {
      min-height: 200px;
    }
    &:hover {
      box-shadow: 0 0 13px 2px rgba(240, 240, 240, 0.2) inset;
    }
    transition-property: box-shadow;
    transition-duration: 150ms;
  }

  .RecentsCard__title {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 1.5;
    //font-weight: 600;
  }

  .RecentsCard__date {
    margin-bottom: 20px;

    text-align: end;
    font-size: 12px;
  }

  .RecentsCard__intro {
    bottom: 10px;
    font-size: 15px;
    line-height: 1.8;
  }
}