@import "../styles/reset.scss";
@import "../styles/bootstrap-grid/bootstrap-grid.scss";
@import "../styles/common";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

html {
  font-family: 'Noto Serif KR', serif;
  color: $white;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  word-break: keep-all;
}

.global_background {
  background-image: url("/static/assets/background.jpg");
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  @media all and (orientation:portrait) {
    background-image: url("/static/assets/background-mobile.jpg")
  }
}